<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .navbar{
               background-color: #3EA38E;
           }
           /* .hideform {
              display: none;
            } */
            .center {
    margin: auto;
    width: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* div.content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.content:hover{
  overflow: visible;
} */
         </style>
    </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">

      <a class="navbar-brand" href="/homepage"><h2>Ink.io</h2></a>
        
      <a href="/homepage" class="navbar-brand" >Add Note</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/logout"><h4>Logout</h4> <span class="sr-only">(current)</span></a>
            </li>
          </ul>
      </nav>
    <!-- The Loop Starts Here -->  
    <div class="container my-3">
        <hr>
        <h1>Your Notes</h1>
        <hr>
        <br>

        <div class="row">
        <% for(var i=0; i<posts.length; i++){ %>  
            <div class="col-sm-4 pb-4">
              <div class="card" style="width: 20rem; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <p>
                    <a href="#">
                      <span class="glyphicon glyphicon-heart"></span>
                    </a>
                  </p>
                <div class="card-body">
                    <h3 class="card-title"><%= posts[i].title %></h3>
                    
                    
                    <h6 class="card-title">Created on : <%= posts[i].dateCreated = posts[i].dateCreated.getFullYear()+'-' +(posts[i].dateCreated.getMonth()+1)+ '-'+posts[i].dateCreated.getDate(); %></h5>
                      <p class="card-text">
                        <%= posts[i].content %>
                    </p>
                  <br>
                    <table>
                      <tr>  
                        <th>
                          <div class="center hideform">
                            <button id="close" 
                              
                              style="float: right;">X</button>
                            <form method="post" action="/notes/<%= posts[i]._id %>?_method=PUT">
                              Title:<br>
                                <input type="text" name="title" value="<%= posts[i].title %>">
                                <br>
                                Body:<br>
                                <input type="text" name="content" value="<%= posts[i].content %>">
                                <br><br>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                        <button id="show "  onclick="edit()" >Edit</button>
                        
                        </th>
                        <th>
                         <!-- using method override npm package -->
                          <form method="post" action="/notes/<%= posts[i]._id %>?_method=DELETE">
                            
                            <input type="submit" name="_method" value="DELETE">
                          </form>
                        </th>          
                      </tr>                     
                    </table>                   
                </div>

                
                </div>
            </div>
            <% } %>
          </div>
    </div>
    

<script
  src="/scripts/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous">

</script>
</body>
</html>